.container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 72px;
  font-weight: 700;
}

.message {
  font-size: 18px;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: #007bff;
}